<div class="container mx-auto p-8">
  <div class="text-center mb-8">
    <h1 class="text-6xl font-extrabold text-gray-800">Boost your indexing efficiency with <br> TSID - Time Sortable Identifier </h1>
    <h2 class="text-2xl text-gray-700 mt-4">Unique identifier that's time-sortable! It uses <a href="https://github.com/f4b6a3/tsid-creator" class="text-blue-600 underline" target="_blank">tsid-creator</a>, check it out!</h2>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- Generate TSID -->
    <div class="card">
      <h2 class="text-2xl font-bold mb-4 text-gray-800">Generate</h2>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="generateTsid()">New One</button>
      <div class="result-container">
        <span class="result-text">{{ newTsidAsString }}</span>
      </div>
    </div>

    <!-- Get As Long -->
    <div class="card">
      <h2 class="text-2xl font-bold mb-4 text-gray-800">Get As Long</h2>
      <input type="text" (ngModelChange)="onGetAsLongChange($event)" [maxlength]="TSID_STRING_MAX_SIZE" [(ngModel)]="tsidStringInput" class="border p-2 w-full mb-4 rounded" placeholder="Enter TSID as string">
      <div class="result-container">
        <span class="result-text" [class.text-red-500]="tsidLongOuput == VALUE_WHEN_INVALID_ARGUMENT">{{ tsidLongOuput }}</span>
      </div>
    </div>

    <!-- Get As String -->
    <div class="card">
      <h2 class="text-2xl font-bold mb-4 text-gray-800">Get As String</h2>
      <input type="text" (ngModelChange)="onGetAsStringChange($event)" [maxlength]="TSID_LONG_MAX_SIZE" [(ngModel)]="tsidLongInput" class="border p-2 w-full mb-4 rounded" placeholder="Enter TSID as long">
      <div class="result-container">
        <div class="result-text" [class.text-red-500]="tsidStringOutput == VALUE_WHEN_INVALID_ARGUMENT">{{ tsidStringOutput }}</div>
      </div>
    </div>
  </div>


  <div class="bg-white bg-opacity-80 backdrop-blur-md p-8 rounded-xl mt-8">
    <div class="space-y-4">
      <!-- Curl Command for Generate TSID -->
      <div class="card code-card relative">
        <code>{{ curl_generate }}</code>
        <button (click)="copyGenerateCurlToClipboard()" class="absolute top-2 right-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded">Copy</button>
      </div>

      <!-- Curl Command for Get As Long -->
      <div class="card code-card relative">
        <code>{{ curl_from_string_to_long }}</code>
        <button (click)="copyFromStringToLongCurlToClipboard()" class="absolute top-2 right-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded">Copy</button>
      </div>

      <!-- Curl Command for Get As String -->
      <div class="card code-card relative">
        <code>{{ curl_from_long_to_string }}</code>
        <button (click)="copyFromLongToStringCurlToClipboard()" class="absolute top-2 right-2 bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded">Copy</button>
      </div>
    </div>
  </div>
</div>
