/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-indigo-50 via-purple-50 to-pink-50 min-h-screen flex items-center justify-center;
}

.container {
  @apply mx-auto p-8;
}

.card {
  @apply p-6 border rounded-xl shadow-2xl bg-white bg-opacity-80 backdrop-blur-md;
}

.result-container {
  @apply bg-gray-200 p-2 rounded mt-4;
  min-height: 3rem; /* Defina a altura mínima do contêiner */
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-text {
  @apply text-gray-800 text-lg font-semibold;
}

.text-red-500 {
  color: #f56565; /* Vermelho padrão do TailwindCSS */
}

.code-card {
  @apply bg-gray-800 text-white font-mono p-4 rounded-xl text-sm;
}

button {
  cursor: pointer;
}

.result-content {
  display: flex;
  align-items: center;
}
